{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Submit a Puzzle{% endblock %}</h1>
{% endblock %}
{white-space: pre-wrap;}
{% block content %}
  <form method="post" enctype="multipart/form-data">
      <label for="image">Please upload an image.</label><br>
      <input type="file" name="image" id="image">
      <input type="submit" value="Submit form">
  </form>

  

  {% if thanks %}
    Thanks for submitting a file!
  {% endif %}

  {% if adjusting %}
    Thanks for the correction. Your correction is:
    <br>
    {{adjustment}}
    <br>
    
    <pre>
    The old puzzle was:                         
{{old_puzzle}}                         

    And the new puzzle with this adjustment is:
{{new_puzzle}}
    </pre>
    
    
    <form action="{{ url_for('ready') }}" method="post">
      <label for="ready">Are you now ready to solve?</label>
      <input type="radio" name="answer" id="yes" value="yes">
      <label for="yes">Yes</label>
      <input type="radio" name="answer" id="no" value="no">
      <label for="No">No</label>

  {% endif %}

  {% if solved %}
    We will now solve using backtracking.
    <pre>
    The puzzle being solved:                         
{{original}}                         

    And the solution is:
{{solution}}
    </pre>

  {% endif %}



  {% if uncertainty %}
  <br>
  Thanks for the puzzle. Here is what our puzzle looks like.
  <pre>
{{prediction}}
  </pre>
  
  <br>
  However we are uncertain about certain values.
  {}
  <form action="{{ url_for('correcting') }}" method="post">
    <label for="Cell-data">Please enter corrections for incorrect cells as comma seperated values.
      <br> (e.g. i,j,k corresponds to inputting digit k in ith row, jth column).
    <br> (Enter 0 if cell should be blank.).</label><br>
    <input type="text" name="correction" placeholder= "row,column,digit">
    <input type="submit" value="Correct index">
</form>
  <br>
  {% endif %}
  

  {% if prediction %}
    <br>
    Thanks for the puzzle!
    <br>
    Here is what we recieved.
    <br> Your puzzle: (Based on our CNN image classifier)
    <br>
    
    <pre>
{{prediction}}
    </pre>

    Here is the solution to the puzzle:
    <pre>
{{solution}}
    </pre>
    <br>
  {% endif %}


  {% if solve_error%}
  <br>
  Thanks for the puzzle!
  Unfortunately our solver encountered an error while solving, indicating that the puzzle is unsolvable.
  Please check that your puzzle looks like this:
  Your puzzle: (Based on our CNN image classifier)
  {{prediction}}
    <br>
  {% endif %}

  {% if error %}
    <br>
    Oh no, we couldn't use that file!  Please upload a jpg file of a Sudoku puzzle.
  {% endif %}

  {% if error1 %}
    <br>
    The image loaded
  {% endif %}

  {% if error2 %}
    <br>
    Error in loading pickle
  {% endif %}

  

{% endblock %}
