{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Submit a Puzzle{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
      <label for="image">Please upload an image.</label><br>
      <input type="file" name="image" id="image">
      <input type="submit" value="Submit form">
  </form>

  {% if thanks %}
    Thanks for submitting a file!
  {% endif %}

  {% if prediction %}
    <br>
    Thanks for the puzzle!
    Here is what we recieved (will do something to display puzzle or solved puzzle).
    Your puzzle: (Based on our CNN image classifier)
    {{prediction}}

    Here is the solution to the puzzle:
    {{solution}}
    <br>
  {% endif %}

  {% if solve_error%}
  <br>
  Thanks for the puzzle!
  Unfortunately our solver encountered an error while solving, indicating that the puzzle is unsolvable.
  Please check that your puzzle looks like this:
  Your puzzle: (Based on our CNN image classifier)
  {{prediction}}
    <br>
  {% endif %}

  {% if error %}
    <br>
    Oh no, we couldn't use that file!  Please upload a jpg file of a Sudoku puzzle.
  {% endif %}

  {% if error1 %}
    <br>
    The image loaded
  {% endif %}

  {% if error2 %}
    <br>
    Error in loading pickle
  {% endif %}

  {% if error3 %}
    <br>
    CNNpredict did not work (or print_puzzle)
  {% endif %}

{% endblock %}
